<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      QrCode Refeitório
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="setMatricula()">
    <ion-item>
      <ion-label position="fixed">Matricula: </ion-label>
      <ion-input minlength="10" placeholder="{{this.matricula}}" type="number"[(ngModel)]="this.newMatricula" name="title"></ion-input>
    </ion-item>
    <ion-button shape="round" expand="block" (click)="this.setMatricula()">Atualizar QrCode</ion-button>   
  </form>
  <br>
  <ion-row>
    <ion-col align-self-center>
      <ion-item lines="none">
        <qr-code ng-disabled="check()" value="{{this.matricula}}" [size]="300"></qr-code>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
